<h1>Welcome to the battle... </h1>
<form action="/names" method="post">
  <label for="giraffe_name">Giraffe name:</label>
  <input type="text" name="giraffe_name">
  <label for="capybara_name">Capybara name:</label>
  <input type="text" name="capybara_name">
  <button type="submit">Submit</button>
</form>
